.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/libHSSimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr-ghc8.6.3.so
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/flag-cache/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/pkgdb/package.cache
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/pkgdb/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr.conf
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/libHSSimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr.a
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/SCStructures.hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/SCStructures.dyn_hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Paths_SimpleCalc_TC.hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Paths_SimpleCalc_TC.dyn_hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Parser.hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Parser.dyn_hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Inference.hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/SimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr/Inference.dyn_hi
.stack-work/install/x86_64-linux/lts-13.1/8.6.3/lib/x86_64-linux-ghc-8.6.3/libHSSimpleCalc-TC-0.1.0.0-IVJckG1QQ79ASeDwFaYcyr-ghc8.6.3.so
.stack-work/
